/* Icons */
.table-icons{
    color:#2b8be5;
    cursor: pointer;
    font-size: 1.1rem;
}

hr{
    margin:5px 0px !important;
}

body[data-sidebar="dark"].vertical-collpsed {
    min-height: 100%;
}
